* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top left, #fffad2, #deebf8);
    padding: 0;
    margin: 0;

    h1,
    h3, 
    p {
        margin: 0;
        z-index: 999;
    }

    h3 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
}

@mixin centerFlex($direction, $position) {
    display: flex;
    align-items: center;
    justify-content: $position;
    flex-direction: $direction;
}

@mixin button() {
    padding: 1em 3em;
    border-radius: 10px;
    border: none;
    background: #4D5B9E;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
    &:hover {
        background: #3c477c;
    }
}

.App {
    @include centerFlex("", center);
    font-family: 'Karla', sans-serif;
    min-height: 100vh;

    .quiz {
        background: whitesmoke;
        @include centerFlex(column, center);
        gap: 15px;
        width: 90%;
        max-width: 900px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.1);
        padding: 2em;
        min-height: 50vh;

        .submit-button {
            @include button();
            z-index: 999;
        }    
        
        .summary-section {
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 1em 0;

        }

        .answer-summary-text {
            font-size: 1.3rem;
            font-weight: bold;
        }
        

        img {
            position: absolute;
        }

        .blue-blob {
            bottom: 0;
            left: 0;
            border-bottom-left-radius: 10px;
            z-index: 0;
        }

        .yellow-blob {
            top: 0;
            right: 0;
            border-top-right-radius: 10px;
            z-index: 0;
        }

        h1,
        h3,
        p {
            color: #293264;
        }

        

        .start-items {

            @include centerFlex(column, center);

            .start-title,
            .start-description {
                color: #293264;
            }

            .start-description {
                margin: 0.8em 0 2em;
                font-size: 16px;
            } 
    
            .start-button {
                padding: 1em 3em;
                border-radius: 10px;
                border: none;
                background: #4D5B9E;
                color: white;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.1s;
                @include button();


    
                &:active {
                    transform: scale(95%);
                    filter: brightness(105%)
                } // start active
            } // start - button
        } // start-items

        

    }

    .questions {

        z-index: 999;
        width: 80%;

        .question {
            padding: 1.3em 1em;
            border-bottom: 0.794239px solid #DBDEF0;  

            h3 {
                font-size: 1.125rem;
            }

            .answers {
                @include centerFlex(row, flex-start);
                gap: 5px;
                margin-top: 1em;

                .answer {
                    border: 0.794239px solid #4D5B9E;
                    border-radius: 8px;
                    padding: 0.3em 1em;
                    cursor: pointer;
                    text-align: center;
                    transition: all .2s;
                    font-weight: 500;
                    
                    p {
                        font-size: 1rem;
                    }
                }

                .active {
                    background: #293264;
                    transition: all .2s;

                    p {
                        color: #deebf8;
                    }
                } // Active

            } // Answers
        } // Question
    } // Questions
} // App


@media (max-width: 762px) {

    .App {
        min-height: 100vh;

        .start {
            padding: 1em;
        }

        .quiz {
            width: 100%;
            min-height: 100vh;
            padding: 2em 1em;

            .summary-section {
                flex-direction: column;
                z-index: 999;
            }

            .questions {
                .question {
                    .answers {
                        @include centerFlex(column, flex-start);
                        gap: 10px;

                        .answer {
                            width: 100%;
                            padding: 0.5em;
                        }
                    }
                }
            }

    
            
        }
    }
    
}

